@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: "Fustat", sans-serif;
}

/* Hide month and year dropdowns */
.p-datepicker .p-datepicker-title {
  display: none !important;
}

/* Optional: Hide the navigation arrows */
.p-datepicker .p-datepicker-prev,
.p-datepicker .p-datepicker-next {
  display: none !important;
}

.p-datepicker .p-datepicker-weekday {
  display: none !important;
}


/* Your CSS */
.p-accordion-header .p-accordion-header-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
